
  /*// Global */
@import url('https://fonts.googleapis.com/css?family=Volkhov');

* {
  box-sizing: border-box;
  font-family: 'Volkhov', serif;
}
body {
  text-align: center;
  background: #66c3ee;
}
.outer-wrapper {
  margin: 5% auto 5% auto;
  border: 1px solid black;
  width: 50%;
  -webkit-box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 24px 2px rgba(0,0,0,0.75);}
.logo {
  margin-top: 5%;
  background: black;
  margin: 0;
  padding: 5% 0;
}
.logo img {
  width: 33%;
}
.wrapper {
  background: rgba(249,200,62,1);
  padding: 2% 6% 4% 6%;
  text-align: center;
}
h1 {
  margin: 2% 0 4% 0;
  color: #124677;
  font-size: 1.5em;
}
.err-msg, #map p {
  display: inline-block;
  font-weight: 700;
  font-size: 1.2em;
  text-align: left;
  width: 100%;
  background: red;
  padding: 1%;
  color: white;
  margin: 0 0 2% 0;
}
 /*Input Text*/
::-webkit-input-placeholder {
  color: #124677;
}
.name {
  float: left;
}
. name input {
  width: 40%;
}
#last-name, #email {
  margin: 4% 0;
}
input, textarea {
  display: block;
  font-size: 1em;
  width: 100%;
  padding: 1%;
  font-weight: 700;
  color: #124677;
  border: 2px solid #124677;
}
#feedback textarea {
  height: 120px;
}
input:focus,
textarea:focus {
  -webkit-box-shadow: -1px 2px 24px 2px rgba(18,70,119,0.75);
  -moz-box-shadow: -1px 2px 24px 2px rgba(18,70,119,0.75);
  box-shadow: -1px 2px 24px 2px rgba(18,70,119,0.75);
}
 /*// Submit Button */
button {
  display: inline-block;
  margin: 3% 0;
  padding: 2% 0;
  width: 23%;
  font-size: 1.2em;
  font-weight: bold;
  color: #124677;
  background: rgba(249,200,62,1);
  border: 3px solid white;
  border-radius: 42px 42px;
}
button:hover {
  border-color: #346ce5;
  color: #346ce5;
}
/* // Map*/
#map img {
  width: 100%;
}

/* Media Queries
------------------ */

@media (max-width: 1100px){
  .outer-wrapper {
    width: 70%;
  }
  h1 {
    font-size: 1.4em;
  }
  .err-msg, #map p {
    font-size: 1em;
  }
  input, textarea {
    font-size: 1em;
  }
  button {
    width: 40%;
  }
}
@media (max-width: 500px){
  .outer-wrapper {
    width: 90%;
  }
  .err-msg, #map p {
    font-size: 0.8em;
    background: blue;
  }
}
